* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

input[type="text"] {
  width: 200px;
  padding: 10px;
}

button {
  border: none;
  background-color: gold;
  padding: 12px 20px;
  margin-left: 12px;
}
button:hover {
  background-color: rgb(224, 209, 124);
  cursor: pointer;
}

ul {
  list-style: none;
}

ul li {
  margin: 12px 24px;
  background-color: lightgrey;
  padding: 8px 16px;
}
ul li:hover {
  cursor: pointer;
  box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.3);
}
